/* // X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */* {
    box-sizing: border-box;
    font-family: 'Roboto',Tahoma, Geneva, Verdana, sans-serif, Segoe UI;
}
h1{
    color:rgb(255, 255, 255);
    font-size: 40px;
    font-style: bold;
    position: center;
}
body{
    background-color: rgb(252, 242, 186);
    max-width: 1500px;
    min-width: 375px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    color: #000;
    padding-top: 500px;
    overflow: hidden;
}
p{
    font-size: 18px;
}
a:link, a:visited, a:hover{
    color:#000;
    font-size: 16px;
}
header{
    z-index: 99999;
    background-color: #000;
    color: rgb(252, 182, 5);
}
.header-section {
    max-width: 1500px;
    min-width: 375px;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 99999;
}
.header-container{
    max-width: 1500px;
    min-width: 375px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    color: #fff;
    background-color: #000;
    margin-right: 0;
    margin-left: 0;
    top: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
    position: absolute;  
    z-index: 99999;
    width: 100%;
}
.banner {
    width: 150%;
}
.banner>img {
    width: 100%;
    height: auto;
    max-width: 1500px;
    object-fit: cover;
    padding-left: 0;
    padding-right: 0;
}
.site-title {
    width: 50%;
    line-height: 30px;
}
.logo-container {
    width: 70px;
}
.logo-container__site-logo {
    height: 100px;
    vertical-align: left;
}
.nav-list{
    box-sizing: border-box;
    color: rgb(252, 182, 5);
    display: flex;
    justify-content: space-around;
    width: 1400px;
    top: 230px;
    text-align: center;
    position: center;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
}
.site-nav {
    width: 100%;
    color: rgb(252, 182, 5);
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-decoration: none;
}
.site-nav>a {
    color: rgb(252, 182, 5);
    text-decoration: none;
    list-style: none;
}
.site-nav>a:hover {
    color: rgb(252, 182, 5);
    font-weight: bold;
    text-decoration: none;
    list-style: none;
}
.nav-menu-item {
    font-size: 18px;
    line-height: 10px;
    width: max-content;
    color: rgb(252, 182, 5);
    text-decoration: none;
    list-style: none;
}
.title-container {
    background-color: #000;
    margin-bottom: 20px;
    padding: 10px 20px;
    text-decoration: none;
    list-style: none;
}
.title-container > h2{
    color: rgb(252, 182, 5);
    font-weight: bold;
    width: 100%;
    position: center;
    text-decoration: none;
    list-style: none;
}
/* .form-ingreso {
    width: 100%;
    padding-left:5px;
    align-items: center;
    text-align: left;
    font-size: 20px;
    position: relative;
    justify-content: space-evenly;
    display: flex;
    object-fit: cover;
} */
.form-ingreso {
    background-color: rgb(252, 242, 186);
    padding-top: 500px;
    margin-top: -500px;
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
    text-align: justify;
    align-items: center;
    position: relative;
    justify-content: space-evenly;
    display: flex;
    object-fit: cover;
    width: 100%;
    padding-left:5px;
}
.footer-section{
    max-width: 1500px;
    min-width: 375px;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(4, 130, 134);
    color: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 99999;
}
.footer-section > div{
    padding-top: 20px;
}
.footer-section > div> article{
    margin-bottom: 20px;
}
.footer-section > div>article > h2{
    font-weight: bold;
    margin-bottom: 20px;
}
/* // Small devices (phones, 375px and up) */
@media (min-width: 375px) { 
    .banner>img {
        height: auto;
       width: 100%;
    }
 
    .footer-section {
        text-align: center;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .banner>img {
        height: auto;
       width: 100%;
    }
 
    .footer-section {
        text-align: left;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .banner>img {
        height: 400px;
    }
 
    .footer-section {
        text-align: left;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
   .banner>img {
       height: 400px;
   }

   .footer-section {
       text-align: left;
   }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
   .banner>img {
       height: auto;
       width: 100%;
   }

   .footer-section {
       text-align: left;
   }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    .banner>img {
        height: 400px;
    }
 
    .footer-section {
        text-align: left;
    }
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
